spring:
  application:
    name: backend
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASS}
  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB
app:
  jwt-secret: ${JWT_SECRET}
  jwt-expiration-milliseconds: ${JWT_EXPIRATION_MS}
  jwt-refresh-expiration-milliseconds: ${JWT_REFRESH_EXPIRATION_MS}
  base-url: ${BASE_URL}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
server:
  servlet:
    context-path: /api/v1
  port: ${API_PORT}
springdoc:
  override-with-generic-response: false
minio:
  api:
    url: ${MINIO_API_URL}
  access:
    key: ${MINIO_ROOT_USER}
    secret: ${MINIO_ROOT_PASSWORD}
  bucket:
    name: ${MINIO_BUCKET_NAME}
janus:
  server:
    url: ${JANUS_URL}

rag:
  api:
    url: http://agentic-rag:${AGENTIC_RAG_PORT}

rabbitmq:
  exchange:
    name: ${RABBITMQ_EXCHANGE_NAME}
  queue:
    name: ${RABBITMQ_QUEUE_NAME}
  routing:
    key: ${RABBITMQ_ROUTING_KEY}
  recording:
    merge:
      queue:
        name: ${RABBITMQ_RECORDING_MERGE_QUEUE_NAME}
      routing:
        key: ${RABBITMQ_RECORDING_MERGE_ROUTING_KEY}
      dlq:
        routing:
          key: ${RABBITMQ_RECORDING_MERGE_DLQ_ROUTING_KEY}
  dlx:
    name: ${RABBITMQ_DLX_NAME}
  dlq:
    name: ${RABBITMQ_DLQ_NAME}
    routing:
      key: ${RABBITMQ_DLQ_ROUTING_KEY}
  transcription:
    queue:
      name: ${RABBITMQ_TRANSCRIPTION_QUEUE_NAME}
    dlx:
      name: ${RABBITMQ_TRANSCRIPTION_DLX_NAME}
    dlq:
      name: ${RABBITMQ_TRANSCRIPTION_DLQ_NAME}
      routing:
        key: ${RABBITMQ_TRANSCRIPTION_DLQ_ROUTING_KEY}