spring:
  application:
    name: backend
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME:chiyeuemthoi2k33@gmail.com}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${POSTGRES_DB:postgres}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASS:guest}
  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB
app:
  jwt-secret: ${JWT_SECRET:eW91ci1uZXctc3VwZXItbG9uZy1hbmQtc2VjdXJlLWJhc2U2NC1lbmNvZGVkLXNlY3JldC1rZXktZ29lcy1oZXJl}
  jwt-expiration-milliseconds: ${JWT_EXPIRATION_MS:30000000}
  jwt-refresh-expiration-milliseconds: ${JWT_REFRESH_EXPIRATION_MS:3000000000}
  base-url: ${BASE_URL:http://localhost:5173}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:5173}
server:
  servlet:
    context-path: /api/v1
  port: ${API_PORT:8000}
springdoc:
  override-with-generic-response: false
minio:
  api:
    url: ${MINIO_API_URL:http://localhost:9000}
  access:
    key: ${MINIO_ROOT_USER:minioadmin}
    secret: ${MINIO_ROOT_PASSWORD:minioadmin}
  bucket:
    name: ${MINIO_BUCKET_NAME:edtech-content}
janus:
  server:
    url: ${JANUS_URL:http://localhost:8088/janus}

rag:
  api:
    url: http://agentic-rag:${AGENTIC_RAG_PORT:8002}

rabbitmq:
  exchange:
    name: ${RABBITMQ_EXCHANGE_NAME:transcoding_exchange}
  queue:
    name: ${RABBITMQ_QUEUE_NAME:transcoding_queue}
  routing:
    key: ${RABBITMQ_ROUTING_KEY:video.transcoding.request}
  recording:
    merge:
      queue:
        name: ${RABBITMQ_RECORDING_MERGE_QUEUE_NAME:recording_merge_queue}
      routing:
        key: ${RABBITMQ_RECORDING_MERGE_ROUTING_KEY:recording.merge.request}
      dlq:
        routing:
          key: ${RABBITMQ_RECORDING_MERGE_DLQ_ROUTING_KEY:dlq.recording.merge.request}
  dlx:
    name: ${RABBITMQ_DLX_NAME:transcoding_exchange_dlx}
  dlq:
    name: ${RABBITMQ_DLQ_NAME:transcoding_queue_dlq}
    routing:
      key: ${RABBITMQ_DLQ_ROUTING_KEY:dlq.video.transcoding.request}
  transcription:
    queue:
      name: ${RABBITMQ_TRANSCRIPTION_QUEUE_NAME:transcription_queue}
    dlx:
      name: ${RABBITMQ_TRANSCRIPTION_DLX_NAME:transcription_exchange_dlx}
    dlq:
      name: ${RABBITMQ_TRANSCRIPTION_DLQ_NAME:transcription_queue_dlq}
      routing:
        key: ${RABBITMQ_TRANSCRIPTION_DLQ_ROUTING_KEY:dlq.video.transcoding.request}
